# Step By Step NLP Tutorial

**Machine Learning Pipeline for NLP**
1. **Raw Text:** Model cannot distinguish the words.
2. **Tokenization:** Tell model what to look at.
3. **Clean Text:** Remove Stop Words/Punctuations, Stemming, etc.
4. **Vectorize:** Convert Words into numeric form.
5. **Machine Learining Algorithms:** Fit/Train the model.

In [34]:
import warnings
warnings.filterwarnings("ignore")

## Data Loading

In [1]:
import pandas as pd

**Data Content**

- Our data is tab separated file.
- There is also no header. 
- We need to tab separate the content and put the proper header.
![File Content](data_content.PNG)

In [2]:
# loading the data
data = pd.read_csv('SMSSpamCollection.tsv', sep= '\t', header = None)

In [3]:
# displaying the first five rows
data.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [4]:
# give the column name 
data.columns=['Label','Text']

In [5]:
# displaying after giving the column name
data.head()

  Label                                               Text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

## Exploring the data

In [6]:
# printing number of rows and columns
print(f'Number of rows {data.shape[0]} \nNumber of columns {data.shape[1]}')

Number of rows 5568
Number of columns 2

In [7]:
# checking if we have any null values
data.isna().sum()

Label    0
Text     0
dtype: int64

In [8]:
# total number of ham and spam message
data['Label'].value_counts()

Label
ham     4822
spam     746
Name: count, dtype: int64

## Cleaning the data

In [9]:
import re
import string
import nltk

### Removing the punctuaction

In [10]:
# function to remove punctuactions
def remove_punct(text):
    # ''.join helps to put together all the words until it encounters whitespace
    text_nopunct = ''.join([char for char in text if char not in string.punctuation])     
    return text_nopunct

In [11]:
# applying remove punctuaction function and displaying the data
data['Text_No_Punc'] = data['Text'].apply(lambda x: remove_punct(x))
data.head()

,Label,Text,Text_No_Punc
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

### Tokenization

In [12]:
# Tokenizing the text without using explicit libraries
def tokenize_text(text):
    tokens = re.split('\W',text)# '\W' Checks for every other words or digits or any special characters.
    return tokens

In [13]:
# Example Text
text = 'Hello How are you 50'
print(tokenize_text(text))

['Hello', 'How', 'are', 'you', '50']

In [14]:
# applying the tokenize function
data['Text_Tokens'] = data['Text_No_Punc'].apply(lambda x: tokenize_text(x.lower()))
data.head()

,Label,Text,Text_No_Punc,Text_Tokens
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]"

### Stop Word Removal

In [15]:
# getting the english stopwords from nltk 
stopword = nltk.corpus.stopwords.words('english')

In [16]:
# function to remove stopwords
def remove_stopword(text):
    clean_text = [char for char in text if char not in stopword]
    return clean_text

In [17]:
# applying remove stopword function
data['Text_No_Stopwords'] = data['Text_Tokens'].apply(lambda x: remove_stopword(x))
data.head()

,Label,Text,Text_No_Punc,Text_Tokens,Text_No_Stopwords
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]"

### Stemming

In [18]:
ps = nltk.PorterStemmer()

In [19]:
# Example 
print(ps.stem('grow'))
print(ps.stem('growing'))
print(ps.stem('grows'))
print(ps.stem('running'),ps.stem('ran'),ps.stem('run'))

grow
grow
grow
run ran run

In [20]:
def stem_text(text):
    stem_word = [ps.stem(word) for word in text]
    return stem_word
data['Text_Stemmed'] = data['Text_No_Stopwords'].apply(lambda x:stem_text(x))

In [21]:
data.head()

,Label,Text,Text_No_Punc,Text_Tokens,Text_No_Stopwords,Text_Stemmed
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather...","[ive, search, right, word, thank, breather, pr..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin...","[free, entri, 2, wkli, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t...","[nah, dont, think, goe, usf, live, around, tho..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids...","[even, brother, like, speak, treat, like, aid,..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]","[date, sunday]"

### Lemmatization

In [22]:
wn = nltk.WordNetLemmatizer()

In [23]:
# Example 
print(wn.lemmatize('goose'))
print(wn.lemmatize('geese'))
print(wn.lemmatize('lives'))

goose
goose
life

In [24]:
def lemmatize_text(text):
    lemma_word = [wn.lemmatize(word) for word in text]
    return lemma_word
data['Text_Lemmatized'] = data['Text_No_Stopwords'].apply(lambda x:stem_text(x))
data.head()

,Label,Text,Text_No_Punc,Text_Tokens,Text_No_Stopwords,Text_Stemmed,Text_Lemmatized
0,ham,I've been searching for the right words to tha...,Ive been searching for the right words to than...,"[ive, been, searching, for, the, right, words,...","[ive, searching, right, words, thank, breather...","[ive, search, right, word, thank, breather, pr...","[ive, search, right, word, thank, breather, pr..."
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, in, 2, a, wkly, comp, to, win, f...","[free, entry, 2, wkly, comp, win, fa, cup, fin...","[free, entri, 2, wkli, comp, win, fa, cup, fin...","[free, entri, 2, wkli, comp, win, fa, cup, fin..."
2,ham,"Nah I don't think he goes to usf, he lives aro...",Nah I dont think he goes to usf he lives aroun...,"[nah, i, dont, think, he, goes, to, usf, he, l...","[nah, dont, think, goes, usf, lives, around, t...","[nah, dont, think, goe, usf, live, around, tho...","[nah, dont, think, goe, usf, live, around, tho..."
3,ham,Even my brother is not like to speak with me. ...,Even my brother is not like to speak with me T...,"[even, my, brother, is, not, like, to, speak, ...","[even, brother, like, speak, treat, like, aids...","[even, brother, like, speak, treat, like, aid,...","[even, brother, like, speak, treat, like, aid,..."
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[i, have, a, date, on, sunday, with, will]","[date, sunday]","[date, sunday]","[date, sunday]"

## Vectorization of data

### Count Vectorization

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
text_documents = data['Text_Stemmed']

# joining the list of text documents into a single string for CountVectorizer
text_corpus = [' '.join(doc) for doc in text_documents]

# creating a CountVectorizer
count_vect = CountVectorizer()

# fitting and transforming the text data
X_counts = count_vect.fit_transform(text_corpus)

In [37]:
print(X_counts.shape)

feature_names = count_vect.get_feature_names()
# printing the first 100 feature names
print(feature_names[:100])

(5568, 8076)
['008704050406', '0089mi', '0121', '01223585236', '01223585334', '0125698789', '02', '020603', '0207', '02070836089', '02072069400', '02073162414', '02085076972', '020903', '021', '050703', '0578', '06', '060505', '061104', '07008009200', '07046744435', '07090201529', '07090298926', '07099833605', '071104', '07123456789', '0721072', '07732584351', '07734396839', '07742676969', '07753741225', '0776xxxxxxx', '07786200117', '077xxx', '078', '07801543489', '07808', '07808247860', '07808726822', '07815296484', '07821230901', '0784987', '0789xxxxxxx', '0794674629107880867867', '0796xxxxxx', '07973788240', '07xxxxxxxxx', '0800', '08000407165', '08000776320', '08000839402', '08000930705', '08000938767', '08001950382', '08002888812', '08002986030', '08002986906', '08002988890', '08006344447', '0808', '08081263000', '08081560665', '0825', '0844', '08448350055', '08448714184', '0845', '08450542832', '08452810071', '08452810073', '08452810075over18', '0870', '08700621170150p', '08701213186', '08701237397', '08701417012', '08701417012150p', '0870141701216', '087016248', '08701752560', '087018728737', '0870241182716', '08702490080', '08702840625', '08702840625comuk', '08704439680', '08704439680tsc', '08706091795', '0870737910216yr', '08707500020', '08707509020', '0870753331018', '08707808226', '08708034412', '08708800282', '08709222922', '08709501522', '0870k', '087104711148']

In [31]:
X_counts_df = pd.DataFrame(X_counts.toarray())
X_counts_df

,0,1,2,3,4,5,6,7,8,9,...,8066,8067,8068,8069,8070,8071,8072,8073,8074,8075
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5566,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
X_counts_df.columns = count_vect.get_feature_names()
X_counts_df

,008704050406,0089mi,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,zero,zhong,zindgi,zoe,zogtoriu,zoom,zouk,zyada,Ã¼ll,ã€¨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5566,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### N-Grams

### TF-IDF

## Feature Engineering